<header class="header">
  <div class="logo">
    <a routerLink="/">E-Commerce</a>
  </div>
  <nav>
    <a routerLink="/products">Products</a>
    <ng-container *ngIf="!authService.isLoggedIn()">
      <a routerLink="/cart">Cart</a>
    </ng-container>


    <ng-container *ngIf="authService.isLoggedIn()">
      <a *ngIf="role === 'ADMIN'" routerLink="/admin">Admin Panel</a>
      <a *ngIf="role === 'SELLER'" routerLink="/seller">Seller Dashboard</a>
      <span>Welcome, {{ username }}</span>
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-container *ngIf="!authService.isLoggedIn()">
      <a routerLink="/auth/login">Login</a>
    </ng-container>
  </nav>
</header>
